<h1>Live Log</h1>
<div class="card">
  <table cellspacing="0" cellpadding="0">
    <tr>
      <th>Level</th>
      <th>Time</th>
      <th>Message</th>
    </tr>

    <tbody id="live_log_id"></tbody>
  </table>
</div>

<%= javascript_include_tag 'live_log_channel.js' %>
