<div class="flex-grid live-log">
  <div>
    <h2><strong>LIVE LOG</strong></h2>
    <div class="flex-row-container header" >
      <div class="flex-row-item header-border short-description"><strong>Level</strong></div>
      <div class="flex-row-item header-border short-description"><strong>Time</strong></div>
      <div class="flex-row-item header-border description"><strong>Message</strong></div>
    </div>
    <div id="live_log_id"></div>
    <div >
    </div>
  </div>
</div>

<%= javascript_include_tag LiveLog.file_version %>
